<section class="contacts">
    <div class="container">

        <div class="shop-row" style="height: 85px;">
            <div class="title col-xs-12">
                <div class="col-md-4 col-sm-5 col-xs-6">
                    <h4>Əlaqə</h4>
                </div>
                <div class="col-md-8 col-sm-7 col-xs-6">
                    <ol class="s-breadcrumb web">
                        <li>
                            <a href="#">Ana Səhifə</a>
                        </li>
                        <li class="shop-active">
                            Əlaqə
                        </li>
                    </ol>
                    <ol class="s-breadcrumb mobile" style="display: none;"></ol>
                </div>
            </div>

        </div>
    </div>
    <div class="contact-body">
        <div class="container">
            <div class="contact-row" style="position: relative;">
                <div class="col-xs-12">
                    <div class="contact-content countries-body">
                        <div class="contact-row">
                            <div class="col-sm-9 col-xs-12">
                                <h1>Əlaqə</h1>
                                <ul class="adress_list">
                                    <li style="width: 300px;" class="c-active">

                                        <a href="#baku">


                                            Bakı (İçərişəhər)
                                        </a>
                                    </li>
                                    <li style="width: 300px;">

                                        <a href="#baku">


                                            Bakı (Xalqlar Dostluğu)
                                        </a>
                                    </li>
                                    <li style="width: 200px;">
                                        <a href="#baku">



                                            Sumqayıt
                                        </a>
                                    </li>
                                    <li style="width: 150px;">
                                        <a href="#baku">


                                            Gəncə
                                        </a>
                                    </li>
                                    <li style="width: 150px;">
                                        <a href="#baku">


                                            Zaqatala
                                        </a>
                                    </li>
                                </ul>
                                <div class="c-content">
                                    <div class="c-panel fade in">
                                        <address>
                                            <div class="adress">
                                                <img src="asserts/images/phone-call.png" alt="">
                                                *9595

                                            </div>
                                            <div class="adress">
                                                <img src="asserts/images/envelope.png" alt="">
                                                info@limak.az
                                            </div>
                                            <div class="adress">
                                                <img src="asserts/images/place.png" alt="">
                                                Səbail rayonu, Mehdi Hüseyn küç. 94
                                                <br>
                                                (İçərişəhər metrostansiyasının yaxınlığı və Təzə Bəy hamamının
                                                yanı)
                                                <p>
                                                    <b>Sifariş et xidməti:</b>
                                                    24 saat
                                                    <br>
                                                    <b>Müştəri xidməti:</b>
                                                    24 saat
                                                    <br>
                                                    <b>Anbar:</b>
                                                    Bazar ertəsi-şənbə Saat 10:00`dan - 21:00`a dək
                                                    <br>

                                                </p>
                                            </div>
                                        </address>
                                    </div>
                                    <div class="c-panel fade">
                                        <address>
                                            <div class="adress">
                                                <img src="asserts/images/phone-call.png" alt="">
                                                *9595

                                            </div>
                                            <div class="adress">
                                                <img src="asserts/images/envelope.png" alt="">
                                                info@limak.az
                                            </div>
                                            <div class="adress">
                                                <img src="asserts/images/place.png" alt="">
                                                Səbail rayonu, Mehdi Hüseyn küç. 94
                                                <br>
                                                (İçərişəhər metrostansiyasının yaxınlığı və Təzə Bəy hamamının
                                                yanı)
                                                <p>
                                                    <b>Sifariş et xidməti:</b>
                                                    24 saat
                                                    <br>
                                                    <b>Müştəri xidməti:</b>
                                                    24 saat
                                                    <br>
                                                    <b>Anbar:</b>
                                                    Bazar ertəsi-şənbə Saat 10:00`dan - 21:00`a dək
                                                    <br>

                                                </p>
                                            </div>
                                        </address>
                                    </div>
                                    <div class="c-panel fade">
                                        <address>
                                            <div class="adress">
                                                <img src="asserts/images/phone-call.png" alt="">
                                                *9595

                                            </div>
                                            <div class="adress">
                                                <img src="asserts/images/envelope.png" alt="">
                                                info@limak.az
                                            </div>
                                            <div class="adress">
                                                <img src="asserts/images/place.png" alt="">
                                                Səbail rayonu, Mehdi Hüseyn küç. 94
                                                <br>
                                                (İçərişəhər metrostansiyasının yaxınlığı və Təzə Bəy hamamının
                                                yanı)
                                                <p>
                                                    <b>Sifariş et xidməti:</b>
                                                    24 saat
                                                    <br>
                                                    <b>Müştəri xidməti:</b>
                                                    24 saat
                                                    <br>
                                                    <b>Anbar:</b>
                                                    Bazar ertəsi-şənbə Saat 10:00`dan - 21:00`a dək
                                                    <br>

                                                </p>
                                            </div>
                                        </address>
                                    </div>
                                    <div class="c-panel fade">
                                        <address>
                                            <div class="adress">
                                                <img src="asserts/images/phone-call.png" alt="">
                                                *9595

                                            </div>
                                            <div class="adress">
                                                <img src="asserts/images/envelope.png" alt="">
                                                info@limak.az
                                            </div>
                                            <div class="adress">
                                                <img src="asserts/images/place.png" alt="">
                                                Səbail rayonu, Mehdi Hüseyn küç. 94
                                                <br>
                                                (İçərişəhər metrostansiyasının yaxınlığı və Təzə Bəy hamamının
                                                yanı)
                                                <p>
                                                    <b>Sifariş et xidməti:</b>
                                                    24 saat
                                                    <br>
                                                    <b>Müştəri xidməti:</b>
                                                    24 saat
                                                    <br>
                                                    <b>Anbar:</b>
                                                    Bazar ertəsi-şənbə Saat 10:00`dan - 21:00`a dək
                                                    <br>

                                                </p>
                                            </div>
                                        </address>
                                    </div>
                                    <div class="c-panel fade">
                                        <address>
                                            <div class="adress">
                                                <img src="asserts/images/phone-call.png" alt="">
                                                *9595

                                            </div>
                                            <div class="adress">
                                                <img src="asserts/images/envelope.png" alt="">
                                                info@limak.az
                                            </div>
                                            <div class="adress">
                                                <img src="asserts/images/place.png" alt="">
                                                Səbail rayonu, Mehdi Hüseyn küç. 94
                                                <br>
                                                (İçərişəhər metrostansiyasının yaxınlığı və Təzə Bəy hamamının
                                                yanı)
                                                <p>
                                                    <b>Sifariş et xidməti:</b>
                                                    24 saat
                                                    <br>
                                                    <b>Müştəri xidməti:</b>
                                                    24 saat
                                                    <br>
                                                    <b>Anbar:</b>
                                                    Bazar ertəsi-şənbə Saat 10:00`dan - 21:00`a dək
                                                    <br>

                                                </p>
                                            </div>
                                        </address>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1 col-xs-12"></div>
                            <div class="col-sm-2 col-xs-12">
                                <h3 class="c-title"><b>Bizə yazın</b></h3>
                                <a href="" class="c-btn">
                                    Bizə Sorğu yaz
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2149.520387234535!2d49.82682369799865!3d40.36716547338556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d164e83a7d9%3A0x899cce04d36a5797!2sLimak.az!5e0!3m2!1sru!2s!4v1590589089830!5m2!1sru!2s"
                frameborder="0"></iframe>
    </div>
</section>