<section class="shops_brands">
    <div class="container">

        <div class="shop-row" style="height: 85px;">
            <div class="title col-xs-12">
                <div class="col-md-4 col-sm-5 col-xs-6">
                    <h4>Mağazalar</h4>
                </div>
                <div class="col-md-8 col-sm-7 col-xs-6">
                    <ol class="s-breadcrumb web">
                        <li>
                            <a href="#">Ana Səhifə</a>
                        </li>
                        <li class="shop-active">
                            Mağazalar
                        </li>
                    </ol>
                    <ol class="s-breadcrumb mobile" style="display: none;"></ol>
                </div>
            </div>

        </div>
    </div>
    <div class="example-sites">
        <div class="container">
            <div class="shop-row" style="position: relative; ">
                <div class="col-md-3 col-sm-12 col-xs-12 web-xs">
                    <div class="brands-left">
                        <div class="left-top">
                            <div class="left-head">
                                <h4>Ölkələr üzrə mağazalar</h4>
                            </div>
                            <ul class="countries">
                                <li class="shop-active"><a href="#">Türkiyə</a></li>
                                <li><a href="#">Amerika</a></li>

                            </ul>
                        </div>
                        <div class="left-bottom">
                            <div class="left-head">
                                <h4>Mağaza kateqoriyası</h4>
                            </div>
                            <ul class="countries">
                                <li class="shop-active"><a href="#">Ümumi</a></li>


                            </ul>
                        </div>
                    </div>
                </div>
                <div class=" col-md-3 col-sm-4 col-xs-12 mobile-xs"></div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="brands-right">
                        <div class="brands-row">
                            <div class="col-xs-12">
                                <h2>Nümunə Saytlar </h2>
                            </div>
                        </div>
                        <div class="brands-row">
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/253.png" alt="">
                                        <span>U.S.Polo ASSN </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/7.png" alt="">
                                        <span>www.dsdamat.com  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/17.png" alt="">
                                        <span>www.n11.com  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/18.png" alt="">
                                        <span>www.defacto.com.tr </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/29.png" alt="">
                                        <span>www.teknosa.com </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/36.png" alt="">
                                        <span>www.mediamarkt.com.tr  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/38.png" alt="">
                                        <span>www.vatanbilgisayar.com  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/40.png" alt="">
                                        <span>www.zara.com/tr </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/41.png" alt="">
                                        <span>www.derimod.com.tr  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/377.png" alt="">
                                        <span>Machka  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/234.png" alt="">
                                        <span>Mavi  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/48.png" alt="">
                                        <span>www.ramsey.com.tr </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/50.png" alt="">
                                        <span>www.tac.com.tr  </span>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/52.png" alt="">
                                        <span>www.toyzzshop.com </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/384.png" alt="">
                                        <span>Jimmy Key  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/55.png" alt="">
                                        <span>www.lacoste.com.tr  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/61.png" alt="">
                                        <span>www.ayakkabidunyasi.com.tr  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/62.png" alt="">
                                        <span>www.takatuka.com </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/248.png" alt="">
                                        <span>Puma  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/396.png" alt="">
                                        <span>Bershka </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/398.png" alt="">
                                        <span>H&M  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/73.png" alt="">
                                        <span>Ceyizsarayi  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/74.png" alt="">
                                        <span>Karaca  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/75.png" alt="">
                                        <span>www.mutfakev.com  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/76.png" alt="">
                                        <span>www.camasirim.com </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/78.png" alt="">
                                        <span>Trendbende </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/78.png" alt="">
                                        <span>www.giycem.com </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/80.png" alt="">
                                        <span>www.fenerium.com.tr </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/81.png" alt="">
                                        <span>www.gsstore.org </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/82.png" alt="">
                                        <span>KartalYuvası  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/86.png" alt="">
                                        <span>www.delisiyim.com  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/87.png" alt="">
                                        <span>Miss Tesettür  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/88.png" alt="">
                                        <span>www.fendyhome.com  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/93.png" alt="">
                                        <span>Bambi </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/94.png" alt="">
                                        <span>Collezione  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/100.png" alt="">
                                        <span>Dilvin </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="brand-logo">
                                        <img src="asserts/images/shops-img/95.png" alt="">
                                        <span>Oysho  </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>